html {
  font-size: 12pt;
}

body {
  font-size: 1rem;
  margin: 0 auto;
  max-width: 8.5in;
}

#card-board {
  display: flex;
  gap: 1rem;
}

.card-column {
  background: #eee;
  border: 1px solid #444;
  border-radius: 5px;
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  padding: 0.5rem;
}

.card {
  border: 1px solid black;
  border-radius: 3px;
  padding: 0.5rem;
  background: white;
  margin: 0.5rem 0;
}

.card.constructed {
  background: lemonchiffon;
}

.card.cleaned {
  background: lightcyan;
}

.card.bisqued {
  background: pink;
}

.card.glazed {
  background: linear-gradient(60deg,pink,sandybrown,yellow,powderblue,palegreen,orchid);
}

.card-column a, .card-column a:visited, .card-column a:hover {
  color: #333;
  font-weight: bold;
}

.done-item-flex {
  display: flex;
}

.done-item-info {
  flex-basis: 100%;
}

ul > li:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
  padding-top: 1rem;
}

figure {
  margin: 0 0 1rem 0;
}

figure figcaption {
  font-style: italic;
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  margin-left: 2rgitem;
}

h2 + ul {
  margin-left: 4rem;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

main.project {
  margin-left: 2em;
}

main.project h3 {
  margin: 1rem 0;
}

main.project table {
  margin: 1rem 0;
}

li > p:first-child {
  font-weight: bold;
}

th,td {
  border-bottom: 1px solid #ddd;
}

body {
  padding: 0 2em;
}

ul {
  margin-top: 0;
}

ul li {
  margin-top: 0;
}

li {
  list-style-position: outside;
}

.indented {
  padding-left: 2em;
}

div.item {
  display: inline-block;
  vertical-align: top;
}